bcrypt==4.3.0
cabarchive==0.2.4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.3
customtkinter==5.2.2
cx_Freeze==8.2.0
cx_Logging==3.2.1
darkdetect==0.8.0
dotenv==0.9.9
filelock==3.18.0
idna==3.10
lief==0.16.5
packaging==24.2
paramiko==3.5.1
pillow==11.2.1
Pillow-PIL==0.1.dev0
pycparser==2.22
PyNaCl==1.5.0
pyodbc==5.2.0
python-dotenv==1.1.0
requests==2.32.3
setuptools==79.0.0
striprtf==0.0.29
urllib3==2.4.0
scp==0.15.0